NUXT_PUBLIC_API_BASE=http://localhost:8000/api/v1
NUXT_PUBLIC_SITE_URL=https://wohnortkompass.oklabflensburg.de
NUXT_PUBLIC_REPO_URL=https://github.com/oklabflensburg/open-living-map
NUXT_PUBLIC_LEGAL_NAME=
NUXT_PUBLIC_LEGAL_REPRESENTATIVE=
NUXT_PUBLIC_LEGAL_STREET=
NUXT_PUBLIC_LEGAL_POSTAL_CODE=
NUXT_PUBLIC_LEGAL_CITY=
NUXT_PUBLIC_LEGAL_COUNTRY=Deutschland
NUXT_PUBLIC_LEGAL_EMAIL=
NUXT_PUBLIC_LEGAL_PHONE=
NUXT_PUBLIC_LEGAL_VAT_ID=
NUXT_PUBLIC_PRIVACY_CONTROLLER=
NUXT_PUBLIC_PRIVACY_HOSTING_PROVIDER=
NUXT_PUBLIC_PRIVACY_HOSTING_LOCATION=
NUXT_PUBLIC_PRIVACY_HOSTING_POLICY_URL=
